[Desktop Entry]
Type=Service
MimeType=inode/directory;application/octet-stream;
Actions=openInCode


[Desktop Action openInCode]
Name=Open in VSCode
Icon=com.visualstudio.code
Exec=code
